<section id="content">
	<section id="content-title"><h1>Restauracja</h1></section>
	<section id="content-frame">
		<p id="notice"><%= notice %></p>

		<b>Opis restauracji:</b>
			<%= @fortune.quotation %>

		<p>
		  <b>Źródło:</b>
		  <%= @fortune.source %>
		</p>
			
			<%= link_to 'Edycja', edit_fortune_path(@fortune) %>
			<%= link_to 'Wstecz', fortunes_path %>
	</section>
</section>
